<div class="homeBoxTop">
    <div class="mainwidth clearfix">
    	<!-- banner start -->
		<div class="swiper-container" id="swiper-container">
	        <div class="swiper-wrapper">
	        	<div ng-repeat="swiper in swiperdata" class="swiper-slide"><a href="{{swiper.href}}" style="background-image: url({{rootpath}}{{swiper.coverImageUrl}});"><p title="{{swiper.title}}">{{swiper.title}}</p></a></div>
	        </div>
	        <div class="pagination"></div>
	    </div>
		<!-- banner end -->
		<div class="banR fr" ng-repeat="ba in banner">
			<a href="{{ba.href}}" style="background-image: url({{rootpath}}{{ba.coverImageUrl}});"><p title="{{ba.title}}">{{ba.title}}</p></a>
		</div>
    </div>
</div>
<div class="homeBottom">
	<div class="mainwidth clearfix">
		<article class="articleTop">
			<h2 class="h2"><span class="h2t">创业动态</span><a href="#/main/enDynamic" class="more">更多>></a></h2>
			<ul class="clearfix">
				<li ng-repeat="ed in enDynamic" ng-click="goto('/main/enDynamicD',{id:ed.id})">
					<a>
						<div class="imgBox" style="background-image: url({{rootpath}}{{ed.coverImageUrl}});"></div>
						<div class="rBox">
							<h3 title="{{ed.title}}">{{ed.title}}</h3>
							<p>{{ed.content | htmlToText}}</p>
						</div>
					</a>
				</li>
			</ul>
		</article>
		<article class="articleR">
			<h2 class="h2"><span class="h2t">通知公告</span><a href="#/main/notice" class="more">更多>></a></h2>
			<ul>
				<li ng-repeat="n in notice" ng-click="goto('/main/noticeD',{id:n.id})">
					<a>
						<span class="iconfont icon-dian"></span>
						<p title="{{n.title}}">{{n.title}}</p>
						<time>{{n.createDate | date:'yyyy-MM-dd'}}</time>
					</a>
				</li>
			</ul>
		</article>
		<article class="articleAc fl">
			<h2 class="h2"><span class="h2t">创业成果</span><a href="#/main/enResults" class="more">更多>></a></h2>
			<ul class="clearfix">
				<li ng-repeat="er in enResults" ng-click="goto('/main/enResultsD',{id:er.id})">
					<div style="background-image: url({{rootpath}}{{er.coverImageUrl}});"></div>
					<p title="{{er.title}}">{{er.title}}</p>
				</li>
			</ul>
		</article>
		<article class="teachingW fl">
			<h2 class="h2"><span class="h2t">教学工作</span><a href="#/main/teachingNotice" class="more">更多>></a></h2>
			<ul>
				<li ng-repeat="t in teachingMAG" ng-click="goto(t.columnInfo.code+'D',{id:t.id})">
					<span>【{{t.columnInfo.name}}】</span>
					<p title="{{t.title}}">{{t.title}}</p>
					<time>{{t.createDate | date:'yyyy-MM-dd'}}</time>
				</li>
			</ul>
		</article>
		<article class="studentW fr">
			<h2 class="h2"><span class="h2t">学生工作</span><a href="#/main/studentMAG" class="more">更多>></a></h2>
			<ul>
				<li ng-repeat="s in studentMAG" ng-click="goto(s.columnInfo.code+'D',{id:s.id})">
					<span>【{{s.columnInfo.name}}】</span>
					<p title="{{s.title}}">{{s.title}}</p>
					<time>{{s.createDate | date:'yyyy-MM-dd'}}</time>
				</li>
			</ul>
		</article>
		<!-- 友情链接 -->
		<article class="fLink fl">
			<h2 class="h2"><span class="h2t">友情链接</span></h2>
			<ul class="clearfix">
				<li ng-repeat="link in linkList">
					<a href="{{link.href}}">
						<span class="iconfont icon-dian"></span>
						<span>{{link.title}}</span>
					</a>
				</li>
			</ul>
			<!-- <ul class="clearfix">
				<li>
					<a href="">
						<span class="iconfont icon-dian"></span>
						<span>武汉理工大学孵化器</span>
					</a>
				</li>
			
				<li>
					<a href="">
						<span class="iconfont icon-dian"></span>
						<span>教育部</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="iconfont icon-dian"></span>
						<span>科技部</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="iconfont icon-dian"></span>
						<span>基金委</span>
					</a>
				</li>
			</ul> -->
		</article>
	</div>
</div>